
html,
body{
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgb(167,235,210);
  background: linear-gradient(90deg, rgba(167,235,210,1) 0%, rgba(185,231,229,1) 47%, rgba(255,158,158,1) 100%);
}

.text-center{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  text-shadow: 2px 2px rgb(139, 139, 139);
  border: 10px solid black;
}

h1{
  font-family: 'Amatic SC', cursive;
}