.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
 }

html,
body{
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgb(119, 182, 241);
  background: linear-gradient(90deg, rgb(141, 183, 202) 0%, rgb(243, 243, 243) 47%, rgb(253, 195, 120) 100%);
  position: relative;
  padding-bottom: 80px;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
 }
 
 #footer p {
  margin: 0;
  font-size: 16px;
 }

.text-center{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  border: 10px solid black;
}

h1{
  font-family: 'Amatic SC', cursive;
}

#container {
  height:100%;
}

