<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Channel Counts Across the World</title>

  
    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/geoStyle.css') }}">
    
    <!-- Bootstrap Dependencies -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    
  
  </head>
  <body>
      <nav class="navbar navbar-default">
          <div class="container">
              <div class="navbar-header">
                  <a class="navbar-brand logo" href="index.html">
                      <span class="nav-color-light"></span></a>
              </div>
      
              <div class="nav navbar-nav navbar-right">
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Plots<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="/">Home</a></li>
                          <li><a href="c3">c3 Summary</a></li>
                          <li><a href="youtube250">Top 250</a></li>
                          <li><a href="entertainmentGeo">Entertainment Geojson</a></li>
                          <li><a href="peopleGeo">People Geojson</a></li>
                          <li><a href="table">Table</a></li>
                          <li><a href="bar">Bar</a></li>
                          <li><a href="line">Line</a></li>
                          <li><a href="scatter">Scatter</a></li>
                      </ul>
                  </li>
              </div>
          </div>
      </nav>
    <section id="header">
      <header>
        <div class="container">
          <div class="row">
            <div class="col-md-12 jumbotron text-center">
              <h1>How to be a successful ASMRtist?</h1>
                <div id="heading-text">
                  <p>Click and see!</p>
                </div>
            </div>
          </div>
        </div>
      </header>
    </section>
      
    <!-- map div -->
    <div id="map"></div>
    
    <!-- API key --> 
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>

    <!-- JS  -->
    <script src="{{ url_for('static', filename='js/entertainmentLogic.js') }}"></script>
   

  </body>
</html>
