<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Youtube Trends</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>





  
</head>
<body>
    <h1>People Category Top 250</h1>
    <hr>
    <div id="peoplePlot1"></div>
    <br>
    <div id="peoplePlot2"></div>
    <br>
    <h1>Entertainment Category Top 250</h1>
    <hr>
    <div id="entertainmentPlot1"></div>
    <br>
    <div id="entertainmentPlot2"></div>

  <!-- People Top 250 Data -->
  <script src="{{ url_for('static', filename='data/peopleData.js') }}"></script>

  <!-- Entertainmainment Top 250 Data -->
  <script src="{{ url_for('static', filename='data/entertainmentData.js') }}"></script>

  <script src="{{ url_for('static', filename='js/youtube250Plots.js') }}"></script>
</body>
</html>
